.app-class {
  background: beige;
  background: url(https://www.seb.lt/sites/default/files/web/backgrounds/bg_green_dark.jpg) no-repeat center top;
  background: url(https://www.seb.lt/sites/default/files/web/backgrounds/bg_green_dark.jpg) no-repeat center top, linear-gradient(118deg, rgba(231,255,231,1) 0%, rgba(255,255,250,1) 35%, rgba(190,244,255,1) 100%);
  height: 100%;
  padding-top: 188px;
  padding-left: 16px;

  .seb {
    position: absolute;
    background-color: #60CD18;
    top: 0px;
    left: 100px;
    width: 105px;
    height: 105px;
    line-height: 105px;
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: sans-serif;
    font-variant: all-small-caps;
    font-weight: bold;
    letter-spacing: 2px;
  }
}