select {
  margin-left: 16px;
  height: 32px;
  padding: 0px 6px;
}

div.currency-flag {
  margin-left: 8px;
  height: 28px;
  width: 42px;
  position: relative;
  top: 7px;
  border: 1px solid gray;
  border-radius: 3px;
}